<h1>StaticPages</h1>
<h2>Home</h2>
<p>

	Get helps about Tutorial at the 
	<a href="http://www.railstutorial.org/#help">Rails Tutorial help section</a>
	Tutorial home page (and our book) at the
	<a href="http://www.railstutorial.org/#home">Rails Tutorial homepage</a>

</p>
