<h1>StaticPages#home</h1>
<p>

	Get helps about Tutorial at the 
	<a href="http://www.railstutorial.org/#help">Rails Tutorial help section</a>
	Tutorial home page at the (and our book)
	<a href="http://www.railstutorial.org/#home">Rails Tutorial help section</a>

</p>
