<!DOCTYPE htmls>
<html>

	<head>
		<title>Home | Ruby on Rails Tutorial Sample App</title>
	</head>

	<body>
		<h1>StaticPages</h1>
		<h2>Home</h2>
		<p>
			Get helps about tutorial at the 
			<a href="http://www.railstutorial.org/#help"><em>Ruby on Rails</em> help section</a><br>
			Tutorial home page (and our book) at the
			<a href="http://www.railstutorial.org/#home"><em>Ruby on Rails</em> homepage</a>
		</p>
	</body>
	
</html>